<mat-card class="example-card custom-card">
  <mat-card-header class="header">
    <div class="header-content">
      <span class="header-text">Sem necessidade de LLC.</span>
    </div>
  </mat-card-header>
  <mat-card-content class="content">
    <h1 class="title">Bem-Vindo ao YourBank</h1>
    <h2 class="subtitle">Empowering Your Financial Journey</h2>
    <p>
      No YourBank, nossa missão é fornecer soluções bancárias abrangentes que capacitem pessoas e empresas a alcançar seus objetivos financeiros. Estamos comprometidos em oferecer serviços personalizados e inovadores que priorizem as necessidades de nossos clientes.
    </p>
    <button mat-button class="open-account-button" (click)="onOpenAccount()">Abrir Conta</button>
  </mat-card-content>
</mat-card>