<div class="container">
  <mat-toolbar>
    <div class="icon-container">
      <div class="icon">
       <app-icon></app-icon>
      </div>
      <span>IdeaBanK</span>
    </div>

    <div class="option-container">
      <div class="option-content">
        <span>Home</span>
        <span>About</span>
        <span>About</span>
        <span>About</span>
      </div>
    </div>

    <div class="action-container">
      <span class="singUp" (click)="onSingUp()">Sing Up</span>
      <span class="login" (click)="onLogin()">Login</span>
    </div>
  </mat-toolbar>
</div>