.container {
  padding: 20px;

  .mat-toolbar {
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 4px;

    .icon-container {
      display: flex;
      width: 20%;
      gap: 12px;
      padding: 6px;

      .icon {
        margin-left: 12px;
        width: 30px;
        height: 30px;
      }
    }

    .option-container {
      width: 60%;

      .option-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 6px;

        span {
          width: 10%;
          display: inline-block;
          text-align: center;
        }

        span:hover {
          border: solid 1px white;
          border-radius: 20px;
          cursor: pointer;
        }
      }
    }

    .action-container {
      width: 20%;
      display: flex;
      justify-content: center;
      gap: 20px;
      padding: 6px;

      .singUp,
      .login {
        width: 30%;
        text-align: center;
        border-radius: 20px;
      }

      .singUp,
      .login:hover {
        cursor: pointer;
      }

      .login {
        background-color: #b3ff00;
      }
    }
  }
}