<mat-card class="example-card custom-card">
  <mat-card-content class="content">
    <!-- transactions.component.html -->
    <div class="transactions">
      <div class="title">Suas Transações</div>
      <ul class="transaction-list">
        <li>
          <span>Transação para Joel Kenley</span>
          <span>-R$ 68.00</span>
        </li>
        <li>
          <span>Transação para Mark Smith</span>
          <span>-R$ 68.00</span>
        </li>
        <li>
          <span>Transação para Leena Roy</span>
          <span>-R$ 68.00</span>
        </li>
      </ul>
    </div>

    <!-- currency-exchange.component.html -->
    <div class="currency-exchange">
      <div class="title">Câmbio de Moedas</div>
      <div class="exchange-rate">
        <div>INR 5,000</div>
        <div>USD 12.00</div>
      </div>
      <button mat-raised-button>Câmbio</button>
    </div>

  </mat-card-content>
</mat-card>