:host {
  display: flex;
  background-color: aqua;

  .container {
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: red;
    padding: 10px;
    justify-content: center;

    .card-container {
      // background-color: white;
      display: flex;
      justify-content: center;
      flex-direction: row;
      margin-bottom: 20px;

      app-card {
        width: 48%;
      }

      app-card-info {
        width: 48%;
      }
    }
  }
}