<app-header></app-header>
<div class="container">
  <div class="yourbank-container">
    <div class="content">
      <h1>Welcome to YourBank</h1>
      <h2>Where Banking Meets <span class="highlight">Excellence!</span></h2>
      <p>
        At YourBank, we believe that banking should be more than just transactions. It should be an experience that empowers individuals and businesses to thrive and reach their financial goals. As a trusted financial institution, we are committed to delivering exceptional banking services that go beyond expectations. With a focus on innovation, personalized solutions, and unwavering integrity, we strive to provide the best banking experience for our valued customers. Join us on this exciting journey and discover a new level of banking excellence.
      </p>
    </div>
    <div class="image-container">
      <img src="assets/your-image.png" alt="YourBank Team">
    </div>
  </div>
</div>
