.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;

  .card {
    background-color: #525252;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
    width: 60%;
    border: 1px solid #f0f0f0;

    h2 {
      margin-top: 0;
      color: #b3ff00;
      text-align: center;
    }

    .info-row {
      display: flex;
      justify-content: space-between;
      margin: 10px 0;

      .info-title {
        color: #000;
        font-weight: bold;
      }

      .info-value {
        color: black;
      }
    }
  }
}