<div class="container">
  <mat-horizontal-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Primeiro Passo</ng-template>
        <mat-form-field>
          <mat-label>Genero</mat-label>
          <mat-select placeholder="Nome" formControlName="genero">
            <mat-option value=0>Homem</mat-option>
            <mat-option value=1>Mulher</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Filhos</mat-label>
          <input matInput placeholder="Quantos filhos:" type="number" formControlName="filhos" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Estado Civil</mat-label>
          <mat-select formControlName="estado_civil">
            <mat-option value=0>Solteiro</mat-option>
            <mat-option value=1>Casado</mat-option>
            <mat-option value=2>Divorciado</mat-option>
            <mat-option value=3>Viuvo</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Faixa etaria</mat-label>
          <mat-select formControlName="faixa_etaria">
            <mat-option value=0>Ate 21 Anos</mat-option>
            <mat-option value=1>De 22 ate 30 Anos</mat-option>
            <mat-option value=2>De 41 ate 50 Anos</mat-option>
            <mat-option value=3>De 51 ate 60 Anos</mat-option>
            <mat-option value=4>Acima de 60 Anos</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Membros da familia</mat-label>
          <input matInput placeholder="4" type="number" formControlName="membros_da_familia" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Próximo</button>
        </div>
      </form>
    </mat-step>


    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Segundo Passo</ng-template>
        <mat-form-field>
          <mat-label>Carro próprio</mat-label>
          <mat-select formControlName="carro_proprio">
            <mat-option value=0>SIM</mat-option>
            <mat-option value=1>NÃO</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Casa própria</mat-label>
          <mat-select formControlName="casa_propria">
            <mat-option value=0>SIM</mat-option>
            <mat-option value=1>NÃO</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Tipo de moradia</mat-label>
          <mat-select formControlName="tipo_de_moradia">
            <mat-option value=0>Imovel proprio</mat-option>
            <mat-option value=1>Mora com os pais</mat-option>
            <mat-option value=2>Imovel financiado</mat-option>
            <mat-option value=3>Imovel alugado</mat-option>
            <mat-option value=4>Imovel comercial</mat-option>
            <mat-option value=5>Imovel compartilhado</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Tipo de renda</mat-label>
          <mat-select formControlName="tipo_de_renda">
            <mat-option value=0>Trabalhando</mat-option>
            <mat-option value=1>Representante comercial</mat-option>
            <mat-option value=2>Aposentado</mat-option>
            <mat-option value=3>Funcionario publico</mat-option>
            <mat-option value=4>Estudante</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Grau de escolaridade</mat-label>
          <mat-select formControlName="grau_de_escolaridade">
            <mat-option value=0>Ensino médio incompleto</mat-option>
            <mat-option value=1>Ensino médio</mat-option>
            <mat-option value=2>Tecnologo</mat-option>
            <mat-option value=3>Superior incompleto</mat-option>
            <mat-option value=4>Ensino superior</mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Anterior</button>
          <button mat-button matStepperNext>Próximo</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>Terceiro Passo</ng-template>
        <mat-form-field>
          <mat-label>Renda Anual</mat-label>
          <mat-select formControlName="renda_anual">
            <mat-option value=0>Ate 500k</mat-option>
            <mat-option value=1>De 500k ate 650k</mat-option>
            <mat-option value=2>De 650k ate 800k</mat-option>
            <mat-option value=3>"De 800k ate 950k</mat-option>
            <mat-option value=4>De 950k ate 1100k</mat-option>
            <mat-option value=5>De 1100k ate 1250k</mat-option>
            <mat-option value=6>De 1250k ate 1400k</mat-option>
            <mat-option value=7>De 1400k ate 5000k</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Tempo de Emprego</mat-label>
          <mat-select formControlName="tempo_emprego">
            <mat-option value=0>Ate 5 Anos</mat-option>
            <mat-option value=1>De 6 ate 10 Anos</mat-option>
            <mat-option value=2>De 11 ate 20 Anos</mat-option>
            <mat-option value=3>De 21 ate 30 Anos</mat-option>
            <mat-option value=4>De 31 ate 40 Anos</mat-option>
            <mat-option value=5>Acima de 40 Anos</mat-option>
            <mat-option value=6>Desempregado</mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Anterior</button>
          <button mat-button matStepperNext>Próximo</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Conclusão</ng-template>
      <p>Formulário concluído!</p>
      <div>
        <button mat-button matStepperPrevious>Anterior</button>
        <button mat-button (click)="onSubmit()">Enviar</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>