<div class="container">
  <mat-horizontal-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Primeiro Passo</ng-template>
        <mat-form-field>
          <mat-label>Nome</mat-label>
          <input matInput placeholder="Nome" formControlName="name" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Próximo</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Segundo Passo</ng-template>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="email" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Anterior</button>
          <button mat-button matStepperNext>Próximo</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Conclusão</ng-template>
      <p>Formulário concluído!</p>
      <div>
        <button mat-button matStepperPrevious>Anterior</button>
        <button mat-button (click)="onSubmit()">Enviar</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
