<app-header></app-header>
<div class="container">
  <div class="form-container">
    <h1>Sign Up</h1>
    <p>Join our community today! Create an account to unlock exclusive features and personalized experiences.</p>
    <form [formGroup]="singUpForm">
      <mat-form-field class="input">
        <mat-label>Digite seu nome:</mat-label>
        <input matInput placeholder="João da Silva" formControlName="name" required>
        @if (singUpForm.hasError('email') && !singUpForm.hasError('required')) {
        <mat-error>Please enter a valid email address</mat-error>
        }
        @if (singUpForm.hasError('required')) {
        <mat-error>Email is <strong>required</strong></mat-error>
        }
      </mat-form-field>
      <mat-form-field class="input">
        <mat-label>Digite seu email</mat-label>
        <input matInput placeholder="pat@example.com" formControlName="email" required>
        @if (singUpForm.hasError('email') && !singUpForm.hasError('required')) {
        <mat-error>Please enter a valid email address</mat-error>
        }
        @if (singUpForm.hasError('required')) {
        <mat-error>Email is <strong>required</strong></mat-error>
        }
      </mat-form-field>
      <mat-form-field class="input">
        <mat-label>Crie uma senha</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field class="input">
        <mat-label>Confirme sua senha</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPpassword">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </form>
    <div class="login">
      <button type="submit" (click)="onSubmit()" [disabled]="singUpForm.invalid" class="btnSingUp">Create</button>
      <button>Login</button>
    </div>
    <div class="card-info">
      <span></span>
      <p>Or Continue with</p>
      <span></span>
    </div>
    <div class="social-container">
      <div class="social-login">
        <img src="../../../assets/icons/google.png" alt="Google">
        <img src="../../../assets/icons/facebook.png" alt="Facebook">
        <img src="../../../assets/icons/apple-big-logo.png" alt="Apple">
      </div>
    </div>
  </div>
</div>