<app-header></app-header>
<div class="container">
  <div class="form-container">
    <h1>Sign Up</h1>
    <p>Join our community today! Create an account to unlock exclusive features and personalized experiences.</p>
    <form [formGroup]="singUpForm">
      <div class="form-tab-1">
        <input type="text" placeholder="Enter First Name" formControlName="name">
        <input type="text" placeholder="Enter Last Name" formControlName="lastName">
      </div>
      <div class="form-tab-2">
        <input type="email" matInput placeholder="Enter your Email" formControlName="email">
        <input type="password" placeholder="Enter your Password" formControlName="password">
      </div>
    </form>
    <div class="login">
      <button type="submit" (click)="onSubmit()" [disabled]="singUpForm.invalid" class="btnSingUp">Create</button>
      <button>Login</button>
    </div>
    <div class="card-info">
      <span></span>
      <p>Or Continue with</p>
      <span></span>
    </div>
    <div class="social-container">
      <div class="social-login">
        <img src="../../../assets/icons/google.png" alt="Google">
        <img src="../../../assets/icons/facebook.png" alt="Facebook">
        <img src="../../../assets/icons/apple-big-logo.png" alt="Apple">
      </div>
    </div>
  </div>
</div>