.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80%;
  color: #fff;
  width: 100%;
}

.form-container {
  background-image: url("../../../assets/bg.jpg");
  background-repeat: cover;

  border: 1px solid #333;
  border-radius: 24px;
  text-align: center;
  width: 100%;
  max-width: 50%;
  height: 600px;

  h1 {
    margin-top: 10px;
    color: #ccff00;
  }

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;

    .form-tab-1,
    .form-tab-2 {
      input {
        width: 100%;
        max-width: 300px;
        padding: 18px;
        margin: 10px;
        border: none;
        border-radius: 24px;
        background-color: #333;
        color: #fff;
      }
    }
  }

  .login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    button:hover {
      cursor: pointer;
    }

    button {
      margin: 12px;
      padding: 14px;
      width: 50%;
      border-radius: 24px;
      border: none;
    }

    .btnSingUp {
      background-color: #ccff00;
    }
  }

  .card-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;

    span {
      border: 1px solid white;
      width: 14%;
    }

    p {
      margin-top: 10px;
      text-align: center;
    }
  }

  .social-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .social-login {
      width: 30%;
      display: flex;
      justify-content: space-between;
      margin-top: 20px;

      img {
        border-radius: 50%;
        width: 26px;
        height: 26px;
        text-align: center;
        object-fit: cover;

      }

      img:hover {
        cursor: pointer;
      }
    }
  }


}







// .container button {
//   width: 100%;
//   max-width: 320px;
//   padding: 15px;
//   margin: 10px 0;
//   border: none;
//   border-radius: 25px;
//   background-color: #ccff00;
//   color: #000;
//   font-size: 16px;
//   cursor: pointer;
// }

// .container .social-login {
//   display: flex;
//   justify-content: center;
//   margin-top: 20px;
// }

// .container .social-login img {
//   width: 40px;
//   height: 40px;
//   margin: 0 10px;
//   cursor: pointer;
// }

// .container .login {
//   margin-top: 20px;
// }

// @media (min-width: 768px) {
//   .container {
//     width: 70%;
//     max-width: 600px;
//   }

//   .container input[type="text"],
//   .container input[type="email"],
//   .container input[type="password"] {
//     max-width: 500px;
//   }

//   .container button {
//     max-width: 520px;
//   }
// }