.container {
  display: flex;
  justify-content: center;
  width: 100%;

  app-header {
    width: 100%;
  }
}

.content {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  justify-content: space-around;

  app-card {
    width: 40%;
  }

  app-card-info {
    width: 40%;
  }
}