.container {
  display: flex;
  justify-content: center;
  width: 100%;

  app-header {
    width: 100%;
  }
}

.content {
  display: flex;
  justify-content: center;
  gap: 20px;
  app-card {
    width: 40%;
  }

  app-card-info {
    width: 40%;
  }
}