:host {
  padding: 10px;
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  .borrowers {
    width: 100%;
    border-radius: 8px;

    .demo-table {
      width: 100%;
      border-collapse: collapse;
      border-radius: 1em;

      th {
        text-align: center;
        border-start-end-radius: 10px;
        border-start-start-radius: 10px;
      }

      td {
        text-align: center;
        border-end-end-radius: 10px;
        border-end-start-radius: 10px;
      }
    }
  }
}
