<div class="borrowers">
  <table>
    <thead>
      <tr>
        <th>Client</th>
        <th>Age</th>
        <th>Email</th>
        <th>Phone number</th>
        <th>Loan</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Buborev Evgeniy Vitalievich</td>
        <td>29</td>
        <td>email</td>
        <td>+7 (916) 421 43 89</td>
        <td>Active</td>
      </tr>
      <tr>
        <td>Nazarenco Victoria Sergeevna</td>
        <td>23</td>
        <td>email.com</td>
        <td>+7 (916) 245 33 88</td>
        <td>Active</td>
      </tr>
      <tr>
        <td>Myz Binat Sergeevich</td>
        <td>34</td>
        <td>email.com</td>
        <td>+7 (916) 254 54 31</td>
        <td>Active</td>
      </tr>
      <tr>
        <td>Lupacek Victorovna</td>
        <td>27</td>
        <td>email.com</td>
        <td>+7 (916) 454 31 33</td>
        <td>Active</td>
      </tr>
      <tr>
        <td>Skorek Elena Fedorovna</td>
        <td>34</td>
        <td>email.com</td>
        <td>+7 (916) 421 43 93</td>
        <td>Active</td>
      </tr>
    </tbody>
  </table>
</div>