.content-dialog {

  //tem como mudar a cor dessa desgrama
  
  h2,
  p {
    text-align: center;
  }

  h2 {
    color: #b3ff00;
  }

  p {
    color: #fff;
  }

  .alert {
    text-decoration: underline;
    color: #aae422;
  }
}