<div class="container">
  <mat-card class="conatiner-card">
    <mat-card-header class="card-header">
      <mat-card-title class="title">Sua conta ainda não foi liberada?</mat-card-title>
      <mat-card-subtitle class="subtitle">Preencha o formulário a baixo para ter seu crédito aprovado</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions class="card-actions">
      <button mat-button (click)="openForm(true)">Formulário</button>
    </mat-card-actions>
  </mat-card>
  @if(status) {
    <app-not-account-form></app-not-account-form>
  }
</div>