.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .conatiner-card {
    flex: 1;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
    .card-header {
      text-align: center;
    }
  }

  app-not-account-form {
    width: 100%;
  }
}