<mat-card class="conatiner-card">
  <mat-card-header class="card-header">
    <mat-card-title class="title">Sua conta ainda não foi liberada?</mat-card-title>
    <mat-card-subtitle class="subtitle">Preencha o formulário a baixo para ter seu crédito aprovado</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="card-content">
    <p>This card indeterminates progress bar.</p>
    <p>{{longText}}</p>
  </mat-card-content>
  <mat-card-actions class="card-actions">
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>